*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
/*Navbar*/
.navbar .container .navbar-nav{
margin-right: 83px!important;
}
.navbar{
    background: #fff;
    border-bottom: 1px solid #3291A5;
}
.navbar ul li{
    margin-left: 7px;
}
.navbar ul li a{
    color: #252525;;
    font-size:22px;
    font-weight: 400;
}
.navbar ul li a:hover{
    color: #3291A5;
}
/*START Header*/
.header{
    background-image: url("img/mountains.jpg");
    background-size: cover;
}
.header .container{
    margin-top: 82px;
}
.header .bg{ 
    background: rgba(107,176,184,0.7);
}

.header .btn{
    margin-left: 135px ;
    margin-top: 20px;
}
.header .do{
    padding: 112px !important;
}
.header p{
    width: 508px;
    text-align: center;
    margin-left: -46px;
}
.header .img img{
    margin-left: -160px;
}
/*Authors*/
.authors .card-body .card-link i{
    color: #3292A6;
    font-size: 20px;
    padding: 10px;
}
.authors .card:hover{
    color: #fff;
    background: #3292A6;
}
.authors .card:hover i{
    color: #fff;
}